* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}



.login-form-title{
    display: block;
    font-size: 30px;
    color: azure;

    line-height: 1.2;
    text-align: center;
}

.login-form-title img {
    width: 230px;
}


.wrap-input{
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.input{
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    border: none;
    display: block;

    width: 100%;
    height: 45px;

    background-color: transparent;

    padding: 0 5px;
}

.login-form{
    width: 100%;
}


.focus-input{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    pointer-events: none;
    color: #adadad;
}

.focus-input::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;

    background: -webkit-linear-gradient(to left, #21d4fd, rgb(255, 59, 33));
    background: -o-linear-gradient(to left, #21d4fd, rgb(255, 59, 33));
    background: -moz-linear-gradient(to left, #21d4fd,rgb(255, 59, 33));
    background: linear-gradient(to left, #21d4fd, rgb(255, 59, 33)); 
}

.focus-input::after{
    font-size: 15px;
    color: #999999;
    line-height: 1.2;

    content: attr(data-placeholder);

    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;

    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.input:focus {
    outline: 0;
}

.input:focus + .focus-input::after{
    top: -15px;
}

.input:focus + .focus-input::before{
    width: 100%;
}


.container-login-form-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;
}

.botaoSair{
    border-radius: 7px;
    width: 30%;
    margin-top: 2%;
    height: 25px;
    background-image: linear-gradient(to left, #21d4fd, rgb(255, 59, 33));
    cursor: pointer;
    color: white;
}

.botaoSair:hover{
    background-image: linear-gradient(to right, #21d4fd, rgb(255, 59, 33));
}

.classPararTriagem {
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.botaoPararTriagem{
    border-radius: 7px;
    width: 40%;
    height: 25px;
    background-image: linear-gradient(to left, #21d4fd, rgb(255, 59, 33));
    cursor: pointer;
    color: white;
}

.botaoPararTriagem:hover{
    background-image: linear-gradient(to right, #21d4fd, rgb(255, 59, 33));
}

.login-form-btn{
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;
    line-height: 1.2;

    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    background: -webkit-linear-gradient(to left, #21d4fd, rgb(255, 59, 33));
    background: -o-linear-gradient(to left, #21d4fd,rgb(255, 59, 33));
    background: -moz-linear-gradient(to left, #21d4fd,rgb(255, 59, 33));
    background: linear-gradient(to left, #21d4fd, rgb(255, 59, 33));
}


.login-form-btn:hover{
    cursor: pointer;
}


.text-center{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.txt1{
    font-size: 14px;
    color: #adadad;
    line-height: 1.5;
    padding-right: 5px;
    text-decoration: none;

}

.txt2{
    font-size: 14px;
    color: #6a7dfe;
    line-height: 1.5;
    text-decoration: none;
    
}


.has-val + .focus-input::after{
    top: -15px;
}

.has-val + .focus-input::before{
    width: 100%;
}

.checkboxMaternidade{
    margin-bottom: 20px;
    color: white;
}

.labelChakput{
    margin-left: 8px;
}

.userIncorrect{
    color: red;
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
    margin-left: 65px;
}

.ProcessosCount p{
    color: #a0cbd4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

.ProcessosCount{
    align-items: center;
    justify-content: center;
    display: flex;
}   

.finalizandoProcesso{
    color: rgb(124, 147, 165);
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


.blocoComponenteTriagem{
    margin-top: 8%;
}

.imagemPicapau{
    width: 10%;
    padding-bottom: 5px;
    padding-right: 15px;
}

.userOnline{
    width: 100%;
    border-radius: 23px;
    margin-right: -80px;
    
}


.ola{
    margin-top: 10%;
    
}

.ola table {
    width: 80%; /* Diminui a largura da tabela para 80% da largura total */
    margin-left: auto; /* Centraliza a tabela horizontalmente */
    margin-right: auto; /* Centraliza a tabela horizontalmente */
    border-collapse: collapse;
    text-align: left;
    margin-top: 20px;
  }
  
  .ola th, .ola td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .ola th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .ola tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .ola tr:hover {
    background-color: #f1f1f1;
  }
  
  .ola td {
    color: #666;
  }

  .linha-selecionada {
   cursor: pointer;
  }

  .pngStatus{
    height: 39px;
    width: 39px;
  }



  .inputDate {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-left: 40%;
  }
  
  .inputDate label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .inputDate input[type="date"],
  .inputDate input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .inputDate button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .inputDate button:hover {
    background-color: #0056b3;
  }



  select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f8f8;
    cursor: pointer;
  }
  
  select:hover {
    border-color: #bbb;
  }
  
  select:focus {
    outline: none;
    border-color: #007bff;
  }
  
  option {
    padding: 10px;
  }




  .meu-botao {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .meu-botao:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .meu-botao:active {
    background-color: #004085;
    transform: scale(0.95);
  }

  .selecioneBeneficio{
    font-family: 'Segoe UI';
    text-align: center;
  }



.imagenDelete{
  height: 30px;
  cursor: pointer;
  border: none;
}

.imagenDelete:hover{
  height: 35px;
  cursor: pointer;
}

.dleteClass{
  cursor: default;
  
}
.buttonDelete{
  border: none;
  background-color: transparent;
}


.clean-button {
  background-color: #ec0b0b; /* Verde */
  color: white; /* Texto branco */
  border: none; /* Sem borda */
  padding: 10px 20px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem decoração de texto */
  display: inline-block; /* Tipo de display */
  font-size: 16px; /* Tamanho da fonte */
  margin: 4px 2px; /* Margem externa */
  cursor: pointer; /* Formato do cursor como ponteiro */
  border-radius: 8px; /* Bordas arredondadas */
  transition: background-color 0.3s; /* Transição suave da cor de fundo */
  margin-left: 79.7%;
}

.clean-button:hover {
  background-color: #883636; /* Mudar a cor de fundo no hover */
}



.status-container {
  display: flex;
  justify-content: center; /* Centraliza todos os itens juntos */
  padding: 18px;
  border-radius: 8px;
}

.status-item {
  font-size: 16px;
  color: #333;
  padding: 5px 10px;
  margin: 0 2px; /* Margem muito pequena para manter os itens juntos */
  border-radius: 5px;
  background-color: #e0e0e0;
}

.no-processes {
  color: #555; /* Cor do texto */
  background-color: #f8f8f8; /* Cor de fundo */
  border: 1px solid #ddd; /* Borda sutil */
  text-align: center; /* Centraliza o texto */
  padding: 20px; /* Espaço interno */
  margin: 20px; /* Margem externa */
  border-radius: 10px; /* Bordas arredondadas */
  font-size: 18px; /* Tamanho da fonte */
  font-family: 'Arial', sans-serif; /* Tipo de fonte */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1); /* Sombra suave */
  max-width: 600px; /* Largura máxima */
  margin-left: auto; /* Centraliza horizontalmente */
  margin-right: auto;
}

.esqueceuSenhaDiv{
  align-items: center;
    justify-content: center;
    display: flex;
}